// ====== ⚙️ [REGLAGES GLOBAUX] : Paramétrages globaux des balises ======

// Paramétrage de la taille du body, son background, ...
body {
  width: 100dvw;
  min-height: 100dvh;
  background: $black;
  overflow-x: hidden;
  font-family: $font-text;
  color: $white;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
}

// Paramétrage des liens
a,
a:visited {
  color: $primary;
  font-family: $font-text;
  transition: $transition-normal ease;
}

// Paramétrage du texte : Titres (H1, H2, H3) et paragraphes
h1 {
  color: $white;
  text-shadow: $accent-glow;
  font-family: $font-title;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
h2 {
  color: $primary;
  font-family: $font-title;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
  display: inline-flex;
  align-items: center;
}
h3 {
  color: $white;
  font-family: $font-title;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.2;
}
p,
a {
  font-family: $font-text;
  font-weight: 400;
}
p {
  color: $white;
}
a {
  color: $primary;
  transition: all $transition-fast;
}
a:hover {
  color: $accent-dim;
  text-shadow: $accent-glow;
}

// Partie de texte à afficher en monospace
.code-text {
  color: $white;
  font-family: $font-code;
  font-weight: 300;
}
