// ====== 🧬 [VARIABLES] : Variables fonts, couleurs, espacements, etc... ======

// 🔠 Typographie :
$font-title: 'Orbitron', sans-serif;
$font-text: 'IBM Plex Sans', sans-serif;
$font-code: 'JetBrains Mono', monospace;
// Utilisation : font-family: $title;

// 🎨 Palette des couleurs :
$black: #0d0d0d;
$anthracite: #2d2d2d;
$grey: #7f8c8d;
$white: #ffffff;
$primary: #39ff14;
/* Dégradés et variations */
$dark-lighter: #3d3d3d;
$accent-transparent: rgba(57, 255, 20, 0.1);
$accent-dim: rgba(57, 255, 20, 0.7);
$accent-glow: 0 0 15px rgba(57, 255, 20, 0.5);
$overlay: rgba(13, 13, 13, 0.8);
// Utilisation : color: $primary;

// 📏 Définition des espacements
$spacings: (
  xs: 0.25rem,
  // 4px
  s: 0.5rem,
  // 8px
  m: 1rem,
  // 16px
  l: 2rem,
  // 32px
  xl: 3rem,
  // 48px
  xxl: 5rem // 80px
);
// Utilisation : padding: map-get($spacings, l) map-get($spacings, m);

// 📐 Rayons de bordure (border-radius)
$radius-s: 4px;
$radius-m: 8px;
$radius-l: 12px;
// Utilisation : border-radius: $radius-m;

// 🕒 Durées de transition
$transition-fast: 0.2s ease;
$transition-normal: 0.3s ease;
$transition-slow: 0.5s ease;
// Utilisation : transition: all $transition-fast;

// 🌫️ Ombres (box-shadow)
$card-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
$box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
// Utilisation : box-shadow: $shadow-light;

// 🔡 Tailles de police
$font-size-xs: 0.75rem; // 12px
$font-size-s: 0.875rem; // 14px
$font-size-m: 1rem; // 16px
$font-size-l: 1.25rem; // 20px
$font-size-xl: 2rem; // 32px
$font-size-xxl: 3rem; // 48px
// Utilisation : font-size: $font-size-l;

// 📱 Définition des breakpoints
$breakpoints: (
  mobile: 480px,
  tablet: 770px,
  desktop: 1024px
);
// Utilisation (avec mixin respond) : @include respond(tablet) { ... }

// 📚 Définition des z-index
$z-index: (
  base: 1,
  // pour le fond général
  content: 10,
  // pour le contenu principal
  header: 100,
  // pour la barre de navigation ou le header sticky
  dropdown: 200,
  // pour les menus déroulants
  overlay: 500,
  // pour un overlay général
  modal: 600,
  // pour la modale elle-même
  tooltip: 1000 // pour les toolstips ou popovers,,,,,,,,,,,,,,
);
// Utilisation : z-index: map-get($z-index, modal);
