a.back-link {
  display: inline-flex;
  align-items: center;
  text-align: left;
  background: $anthracite;
  border-radius: $radius-m;
  color: $white;
  font-family: $font-title;
  &:hover {
    background: $grey;
  }
}
