// TEMP à remplacer par un menu burger quand on intégrera du JS
@include respond(tablet) {
  .main-nav {
    display: none;
  }
}

.main-nav ul {
  display: flex;
}

a.nav-link {
  position: relative;
  color: $white;
  font-family: $font-title;
  letter-spacing: 1px;
  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: $primary;
    transition: width $transition-normal;
  }
  &:hover {
    color: $primary;
  }
  &:hover::after {
    width: 100%;
  }
}
