// ====== 📚 [PROJECT-CARD] ======
.project-card {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 1.5rem 1rem;
  border: 1px solid $anthracite;
  border-radius: $radius-m;
  background: $anthracite;
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include respond(mobile) {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }
  align-items: center;

  // Project Infos
  .project-info {
    text-align: left;
    // Statut du projet
    .status-badge {
      border: 1px solid $primary;
      border-radius: $radius-l;
      background: $primary;
      color: $black;
      padding: 0.25rem 1rem;
      @include respond(mobile) {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
      }
    }
    // Stack technique
    .tech-stack {
      margin: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 1.4286)), 2rem) 0 1rem;
      h2 {
        display: block;
        border-bottom: 2px solid $primary;
        color: $white;
        padding: 1rem 0;
      }
      .tech-icons {
        padding: 0.5rem 0;
        .icon {
          display: inline-flex;
          justify-content: center;
          width: clamp(30px, calc(1.875rem + ((1vw - 3.2px) * 0.8929)), 40px);
          height: clamp(30px, calc(1.875rem + ((1vw - 3.2px) * 0.8929)), 40px);
          min-height: 0vw;
          margin-right: 1rem;
        }
      }
    }
  }

  // Projet Preview
  .project-preview {
    height: 100%;
    padding-left: 1rem;
    @include respond(mobile) {
      padding-left: 0;
    }
    .preview-container {
      height: 100%;
      background: $grey;
      img {
        object-fit: cover;
        aspect-ratio: 4/3;
      }
      figcaption {
        font-family: $font-text;
        font-size: clamp(0.75rem, calc(0.75rem + ((1vw - 0.2rem) * 0.3571)), 1rem);
        min-height: 0vw;
        background: $grey;
        color: $black;
      }
    }
  }
}
