/* -------------------------------------------------------------------------- */
/*                        Réglages de base et généraux                        */
/* -------------------------------------------------------------------------- */

/* ---------------------------- Import des fonts ---------------------------- */
@font-face {
  font-family: "Allura";
  src: url(../fonts/Allura-Regular.ttf);
  font-display: swap; //Pour éviter les décalages de mise en page
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.ttf);
  font-display: swap; //Pour éviter les décalages de mise en page
}
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Light.ttf);
  font-display: swap; //Pour éviter les décalages de mise en page
}

/* --------------------------- Variables et mixins -------------------------- */
//1 Variables
$cursive: "Allura", cursive;
$light: "Roboto", sans-serif;
$medium: "Poppins", sans-serif;
$white: #eeeeee;
$black: #000000;
$gold-1: #be8d64;
$gold-2: #8b5f3a;
$grey1: #21201e;
$grey2: #656463;

//1 Mixins
@mixin centerChild {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin alignChildren($space) {
  display: flex;
  align-items: center;
  justify-content: $space;
}
@mixin maxWidth {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

/* ---------------------------- Réglages généraux --------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100dvw;
  min-height: 100dvh;
  background: $grey1;
  overflow-x: hidden;
  text-align: center;
  font-family: $light;
}
ul {
  height: 100%;
  @include alignChildren(space-between);
  li {
    list-style: none;
    height: 100%;
    padding: 0 10px;
    transition: 0.3s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
a,
a:visited {
  color: $black;
  text-decoration: none;
}
.img-container {
  height: 100%;
}
p {
  padding: 0 15px;
}
.gold {
  text-transform: uppercase;
  color: $gold-1;
  padding: 20px 15px;
}

/* ------------------------- Réglages de la page web ------------------------ */
//1 Réglages des titres

.cursive {
  font-family: $cursive;
  text-transform: none;
  color: $gold-1;
  font-weight: 300;
  letter-spacing: normal;
}
.black {
  color: $gold-1;
}
.white {
  color: $gold-2;
}

h1 {
  font-family: $medium;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: $white;
  line-height: 40px;
  //*Fluid Responsive font-size
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 2.7273)), 3.5rem);
  min-height: 0vw;
}

h2 {
  font-family: $medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 25px;
  //*Fluid Responsive font-size
  font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.41875rem) * 1.5094)), 2rem);
  min-height: 0vw;
  @media screen and (max-width: 670px) {
    font-size: clamp(1.5rem, calc(1.5rem + ((1vw - 0.2rem) * 2.2857)), 2rem);
  }
}

h3 {
  font-family: $medium;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 20px;
  font-size: clamp(1rem, calc(1rem + ((1vw - 0.48125rem) * 1.1163)), 1.3rem);
  @media screen and (max-width: 770px) {
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 1.0667)), 1.3rem);
  }

  min-height: 0vw;
}

//1 Réglages paragraphes

p,
a {
  //*Fluid Responsive font-size
  font-size: clamp(0.75rem, calc(0.7rem + ((1vw - 0.2rem) * 0.5455)), 1rem);
  min-height: 0vw;
}

//1 Réglages des images
.icon {
  margin: 20px 0;
}
