h1 {
  max-width: 1200px;
  margin: var(--spacing-l) auto;
  text-transform: uppercase;
  font-size: var(--font-size-xl);
  text-align: center;
}

main {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  min-height: calc(100dvh - 60px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/**---------------- Main left -----------------*/
section.form-section {
  width: 100%;
  height: 100%;
  padding: var(--spacing-m);
}
form.form-container {
  width: 100%;
  height: 100%;
}
.section {
  padding-bottom: var(--spacing-m);
}
h2 {
  font-weight: bold;
  font-size: var(--font-size-l);
  padding-bottom: var(--spacing-s);
  text-transform: uppercase;
  color: var(--color-accent-primary);
}
.section > div {
  padding-bottom: var(--spacing-s);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
input,
textarea,
select {
  background: var(--neutral0);
  width: 50%;
  padding: var(--spacing-xs);
  border-radius: var(--radius-s);
}
.section3 > div {
  align-items: start;
}
.section3 textarea {
  height: 150px;
  overflow-y: auto;
}
.buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button {
  background: var(--color-accent-primary);
  padding: var(--spacing-s) var(--spacing-m);
  border-radius: var(--radius-m);
  font-weight: 600;
  transition: all var(--transition-normal);
}
button:last-child {
  background: transparent;
  color: var(--color-accent-primary);
  border: 1px solid var(--color-accent-primary);
}
button:hover {
  transform: scale(1.05);
}

/**--------------- Main right -----------------*/
.main-right {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
section {
  padding: var(--spacing-m);
}
.iframe-container {
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

#object-json-view {
  width: 100%;
  aspect-ratio: 16/9;
  resize: none;
}
