footer.investors {
  background: $black;
  .investors-container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    h2 {
      @include title;
      @include h2-police-desktop;
      color: $white;
      font-weight: 400;
      padding-bottom: 20px;
    }
    .investors-logos {
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 770px) {
        display: block;
      }
      .investors-logos-left ul,
      .investors-logos-right ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          @include centerChild;
          padding: 0 10px;
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
