#logo {
  font-family: $cursive;
  color: $white;
  font-size: 2.5rem;
}

//* Fluid-responsive font-size
#logo {
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.2rem) * 0.9091)), 2.5rem);
  min-height: 0vw;
}
