// ====== 📚 [TECHNICAL SECTION] ======
.technical-section {
  max-width: 1200px;
  margin: 1rem auto;
  @include respond(mobile) {
    margin: 0 auto;
  }
  padding: 1rem;
  text-align: left;

  // Aspect technique
  h2 {
    display: block;
    border-bottom: 1px solid $primary;
    margin: 1rem 0;
    padding-bottom: 1rem;
    color: $white;
    font-size: clamp(1rem, calc(1rem + ((1vw - 0.2rem) * 1.4286)), 2rem);
    min-height: 0vw;
  }
  p,
  span {
    font-size: clamp(0.75rem, calc(0.75rem + ((1vw - 0.2rem) * 0.6429)), 1.2rem);
    min-height: 0vw;
    line-height: 1.5;
  }
  h3 {
    padding: 1rem 0;
    font-size: clamp(0.9rem, calc(0.9rem + ((1vw - 0.2rem) * 0.8571)), 1.5rem);
    min-height: 0vw;
  }

  // Exemple de code
  pre {
    background: $anthracite;
    padding: 1rem;
    border-left: 3px solid $primary;
    margin: 1rem 0 2rem;
    @include respond(mobile) {
      margin-bottom: 1rem;
    }
    .code-snippet {
      display: block;
      background: $dark-lighter;
      font-size: clamp(0.75rem, calc(0.75rem + ((1vw - 0.2rem) * 0.3571)), 1rem);
      min-height: 0vw;
      padding: 1rem;
      overflow-x: auto;
      scrollbar-width: thin;
    }
  }
}
