@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #000000;
}

body {
  min-height: 100dvh;
  background: #ffffff;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: #000000;
  text-decoration: none;
}

nav {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  height: 60px;
}
nav:hover li:not(:hover) a {
  color: #000000;
}
nav:hover li:not(:hover) ::before {
  background: transparent;
}
@media screen and (max-width: 915px) {
  nav {
    display: none;
  }
}
nav ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
nav ul li:first-child a, nav ul li:not(:last-child):hover a {
  color: #5f04aa;
}
nav ul li:first-child ::before, nav ul li:not(:last-child):hover ::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #5f04aa;
  top: 0;
  left: 0;
}
nav ul li a {
  text-transform: uppercase;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.571875rem) * 0.3048, 0.8rem);
  min-height: 0vw;
}
nav ul li .language {
  background: #e0e0e0;
  padding: 6px 12px;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: 800;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.571875rem) * 0.3048, 0.8rem);
  min-height: 0vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav ul li .language:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header.hero {
  background: url(../img/background-video-game-player.webp) center/cover;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 960px) {
  header.hero {
    background: url(../img/background-video-game-player-mobile2.webp) center/cover;
  }
}
header.hero .hero-container {
  width: 70%;
  padding: 20px 0;
}
@media screen and (max-width: 770px) {
  header.hero .hero-container {
    width: 90%;
  }
}
header.hero .hero-container .hero-container-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
}
header.hero .hero-container .hero-container-logo img {
  max-width: 600px;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
header.hero .hero-container h1 {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: clamp(1rem, 1rem + (1vw - 0.48125rem) * 0.7164, 1.3rem);
  min-height: 0vw;
  letter-spacing: 1px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width: 770px) {
  header.hero .hero-container h1 {
    font-size: clamp(0.7rem, 0.7rem + (1vw - 0.2rem) * 1.7778, 1.2rem);
    min-height: 0vw;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background: rgba(245, 245, 245, 0.7490196078);
}
.button:hover a {
  color: #000000;
}
.button:hover a svg {
  fill: #000000;
}
.button a {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: clamp(0.8rem, 0.8rem + (1vw - 0.48125rem) * 0.4776, 1rem);
  min-height: 0vw;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
}
@media screen and (max-width: 770px) {
  .button a {
    font-size: clamp(0.5rem, 0.5rem + (1vw - 0.2rem) * 1.0667, 0.8rem);
    min-height: 0vw;
  }
}
.button a svg {
  fill: #ffffff;
  height: 13px;
  width: 8px;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}
@media screen and (max-width: 770px) {
  .button a svg {
    height: clamp(8px, 0.5rem + (1vw - 3.2px) * 1.1111, 13px);
    min-height: 0vw;
    width: clamp(5px, 0.3125rem + (1vw - 3.2px) * 0.6667, 8px);
  }
}

.headband .headband-container {
  max-width: 1200px;
  width: 85%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.headband .headband-container h2 {
  font-size: clamp(0.9rem, 0.9rem + (1vw - 0.48125rem) * 0.7164, 1.2rem);
  min-height: 0vw;
  font-weight: 700;
}
@media screen and (max-width: 770px) {
  .headband .headband-container h2 {
    font-size: clamp(11.2px, 0.7rem + (1vw - 3.2px) * 0.7111, 14.4px);
    min-height: 0vw;
  }
}

.cursus {
  background: #000000;
}
.cursus .cursus-container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 905px) {
  .cursus .cursus-container {
    max-width: 475px;
  }
}
@media screen and (max-width: 905px) {
  .cursus .cursus-container {
    display: block;
  }
}
.cursus .cursus-container .cursus-card {
  padding-bottom: 30px;
}
.cursus .cursus-container .cursus-card .cursus-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.cursus .cursus-container .cursus-card h3 {
  text-transform: uppercase;
  font-size: clamp(0.9rem, 0.9rem + (1vw - 0.48125rem) * 0.7164, 1.2rem);
  min-height: 0vw;
  letter-spacing: 1px;
  margin-top: 20px;
  color: #ffffff;
}
@media screen and (max-width: 905px) {
  .cursus .cursus-container .cursus-card h3 {
    font-size: clamp(0.9rem, 0.9rem + (1vw - 0.2rem) * 1.0667, 1.2rem);
    min-height: 0vw;
  }
}
.cursus .cursus-container .cursus-card p {
  padding: 20px;
  color: #ffffff;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
}
@media screen and (max-width: 905px) {
  .cursus .cursus-container .cursus-card p {
    font-size: clamp(0.7rem, 0.7rem + (1vw - 0.2rem) * 1.0667, 1rem);
    min-height: 0vw;
  }
}

.news {
  padding: 60px 0;
  background: #f7f7f7;
}
.news .news-container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}
.news .news-container .news-title {
  padding: 20px 0;
  display: grid;
  grid-template-columns: 60% 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: left;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-title {
    display: block;
    justify-items: center;
  }
}
.news .news-container .news-title .news-title-left h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-title .news-title-left h2 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: clamp(1.3rem, 1.3rem + (1vw - 0.2rem) * 1.3675, 1.8rem);
    min-height: 0vw;
  }
}
.news .news-container .news-title .news-title-left p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-weight: 600;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
  padding: 15px 0;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-title .news-title-left p {
    font-size: clamp(0.7rem, 0.7rem + (1vw - 0.2rem) * 1.0667, 1rem);
    min-height: 0vw;
  }
}
.news .news-container .news-title .news-title-right .button {
  border-color: #000000;
}
.news .news-container .news-title .news-title-right .button:hover {
  background: rgba(0, 0, 0, 0.7607843137);
}
.news .news-container .news-title .news-title-right .button:hover a {
  color: #ffffff;
}
.news .news-container .news-title .news-title-right .button:hover a svg {
  fill: #ffffff;
}
.news .news-container .news-title .news-title-right .button a {
  color: #000000;
}
.news .news-container .news-title .news-title-right .button a svg {
  fill: #000000;
}
.news .news-container .news-main {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-main {
    display: block;
  }
}
.news .news-container .news-main .news-card {
  width: 100%;
  padding: 30px;
}
.news .news-container .news-main .news-card .news-img-container {
  width: 100%;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-main .news-card .news-img-container {
    width: 50%;
  }
}
.news .news-container .news-main .news-card .news-img-container img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2901960784);
          box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.2901960784);
}
.news .news-container .news-main .news-card h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 100%;
  padding: 10px 0;
  font-weight: 700;
  font-size: clamp(0.9rem, 0.9rem + (1vw - 0.48125rem) * 0.7164, 1.2rem);
  min-height: 0vw;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-main .news-card h3 {
    font-size: clamp(0.9rem, 0.9rem + (1vw - 0.2rem) * 1.0667, 1.2rem);
    min-height: 0vw;
  }
}
.news .news-container .news-main .news-card p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  width: 100%;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 10px;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
}
@media screen and (max-width: 905px) {
  .news .news-container .news-main .news-card p {
    font-size: clamp(0.7rem, 0.7rem + (1vw - 0.2rem) * 1.0667, 1rem);
    min-height: 0vw;
  }
}
.news .news-container .news-main .news-card .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 0;
  position: absolute;
  bottom: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
}
.news .news-container .news-main .news-card .button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
@media screen and (max-width: 905px) {
  .news .news-container .news-main .news-card .button {
    position: relative;
  }
}
.news .news-container .news-main .news-card .button a {
  color: #5f04aa;
}
.news .news-container .news-main .news-card .button a svg {
  fill: #5f04aa;
}

.links {
  background: #ffffff;
}
@media screen and (max-width: 905px) {
  .links {
    display: none;
  }
}
.links .links-container {
  max-width: 1200px;
  width: 85%;
  margin: 80px auto 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.links .links-container .link-container-column2 h2,
.links .links-container .link-container-column3 h2,
.links .links-container .link-container-column4 h2 {
  text-align: left;
  text-transform: uppercase;
  font-size: clamp(0.9rem, 0.9rem + (1vw - 0.48125rem) * 0.7164, 1.2rem);
  min-height: 0vw;
  letter-spacing: 0;
  font-weight: 700;
  padding-bottom: 15px;
}
.links .links-container .link-container-column2 a,
.links .links-container .link-container-column3 a,
.links .links-container .link-container-column4 a {
  display: block;
  text-align: left;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
  color: #5f04aa;
  font-weight: 700;
  padding: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.links .links-container .link-container-column2 a:hover,
.links .links-container .link-container-column3 a:hover,
.links .links-container .link-container-column4 a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.links .links-container .link-container-column2 p,
.links .links-container .link-container-column3 p,
.links .links-container .link-container-column4 p {
  text-align: left;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
  font-weight: 700;
  padding: 10px 40px 10px 0;
  line-height: 25px;
}
.links .links-container .link-container-column1 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.links .links-container .contact {
  padding-bottom: 40px;
}
.links .links-container .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-bottom: 40px;
}
.links .links-container .networks ul {
  height: 25px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.links .links-container .networks ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 15px;
}
.links .links-container .networks ul li .icon {
  height: 25px;
  width: 25px;
  padding: 0;
}
.links .links-container .networks ul li .icon:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  fill: #5f04aa;
}
.links .press-container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  position: relative;
}
.links .press-container::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 1px;
  background: #e0e0e0;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.links .press-container .press-container-left h3 {
  text-align: left;
  text-transform: uppercase;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
}
.links .press-container .press-container-left p {
  text-align: left;
  font-size: clamp(0.7rem, 0.7rem + (1vw - 0.48125rem) * 0.7164, 1rem);
  min-height: 0vw;
  font-weight: 600;
  padding: 10px 0 0;
}
.links .press-container .press-container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

footer.investors {
  background: #000000;
}
footer.investors .investors-container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
}
footer.investors .investors-container h2 {
  text-transform: uppercase;
  font-size: clamp(0.9rem, 0.9rem + (1vw - 0.48125rem) * 0.7164, 1.2rem);
  min-height: 0vw;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 20px;
}
footer.investors .investors-container .investors-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 770px) {
  footer.investors .investors-container .investors-logos {
    display: block;
  }
}
footer.investors .investors-container .investors-logos .investors-logos-left ul,
footer.investors .investors-container .investors-logos .investors-logos-right ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer.investors .investors-container .investors-logos .investors-logos-left ul li,
footer.investors .investors-container .investors-logos .investors-logos-right ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
}
footer.investors .investors-container .investors-logos .investors-logos-left ul img,
footer.investors .investors-container .investors-logos .investors-logos-right ul img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=index.css.map */