/** ----------------- body ------------------- */
* {
  font-family: var(--font-title);
  font-size: 1rem;
}
body {
  position: relative;
  width: 100dvw;
  min-height: 100dvh;
  background: url(../../img/pictures/image.webp) center/cover;
  overflow-x: hidden;
  color: var(--color-text-primary);
}
.overlay {
  position: absolute;
  height: 100%;
  background: hsla(0, 0%, 3%, 0.5);
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
/** ---------------- navbar ------------------ */
.navbar {
  max-width: 1200px;
  margin: 0 auto;
  height: 60px;
  background: var(--neutral4);
  display: flex;
  align-items: center;
}
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navbar ul li a {
  color: var(--color-accent-primary);
  transition: all var(--transition-normal);
  display: inline-flex;
}
.navbar ul li a:hover {
  transform: scale(1.05);
}
